git+https://github.com/rodrigo-castellon/jukemirlib.git
wandb
einops
p-tqdm
scikit-image 
matplotlib 
imageio 
plotly 
opencv-python
gdown
numpy
librosa
tqdm
git+https://github.com/mattloper/chumpy
smplx[all]
bittensor
torch
loguru
flask